[submodule "i3/.config/i3blocks"]
	path = i3/.config/i3blocks
	url = https://github.com/Anachron/i3blocks.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "i3/.config/i3blocks-contrib"]
	path = i3/.config/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
