[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "i3/.config/i3blocks/blocks/node"]
	path = i3/.config/i3blocks/blocks/node
	url = https://www.github.com/Prioe/node-i3blocks.git
