!Custom Color
#define t_black       #282a2e
#define t_darkblack   #1d1f21
#define t_brightwhite #f9f9f9

#define t_brightslate #526b77
#define t_slate #455a64
#define t_darkslate #37474f
#define t_brightorange #e47c36
#define t_specialorange #b85334
#define t_darkorange #c42d29

!TomorrowNight
#define t_background        #1d1f21
#define t_current_line      #282a2e
#define t_selection      	#373b41
#define t_foreground      	#c5c8c6
#define t_comment	     	#969896
#define t_red		     	#cc6666
#define t_orange	     	#de935f
#define t_yellow        	#f0c674
#define t_green	        	#b5bd68
#define t_aqua	        	#8abeb7
#define t_blue	        	#81a2be
#define t_purple        	#b294bb


*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       #000000
*.color8:       #666666

! Red / Bright Red
*.color1:       t_red
*.color9:       #FF3334

! Green + Bright Green
*.color2:       t_green
*.color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      t_blue

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line

! ## Rofi settings
rofi.font:             Meslo LG S 10
rofi.terminal:         i3-sensible-terminal
rofi.separator-style:  solid
rofi.hide-scrollbar:   false
rofi.scrollbar-width:  6
rofi.bw:               3
rofi.padding:          15
rofi.eh:               1
rofi.line-margin:      2
rofi.opacity:          90
rofi.width:            450
rofi.lines:            15
rofi.threads:          4
!custom keybinding
rofi.kb-delete-entry:  Delete,Alt+BackSpace

! Rofi colors
rofi.color-enabled:    true
rofi.color-window:     #2d2d2d, t_brightorange, t_brightorange
rofi.color-normal:     #2d2d2d, #c7c7c7, #333333, t_orange, #101112
rofi.color-active:     #2d2d2d, #b5bd68, #333333, #b5bd68, #101112
rofi.color-urgent:     #2d2d2d, #cc6666, #333333, #cc6666, #101112
