!Custom Colors
#define t_black       #282a2e
#define t_darkblack   #1d1f21
#define t_brightwhite #f9f9f9

#define t_brightslate #526b77
#define t_slate #455a64
#define t_darkslate #37474f
#define t_brightorange #e47c36
#define t_specialorange #b85334
#define t_darkorange #c42d29

!argb
#define t_dark_background_transparent argb:d01d1f21
#define t_background_transparent argb:801d1f21
#define t_light_background_transparent argb:401d1f21
#define t_transparent argb:00000000

!TomorrowNight
#define t_background            #1d1f21
#define t_current_line          #282a2e
#define t_selection      	#373b41
#define t_foreground      	#c5c8c6
#define t_comment	     	#969896
#define t_red		     	#cc6666
#define t_orange	     	#de935f
#define t_yellow        	#f0c674
#define t_green	        	#b5bd68
#define t_aqua	        	#8abeb7
#define t_blue	        	#81a2be
#define t_purple        	#b294bb

!TomorrowNight Bright
#define t_bright_background     #000000 
#define t_bright_current_line   #2a2a2a 
#define t_bright_selection      #424242 
#define t_bright_foreground     #eaeaea 
#define t_bright_comment        #969896 
#define t_bright_red            #d54e53 
#define t_bright_orange         #e78c45 
#define t_bright_yellow         #e7c547 
#define t_bright_green          #b9ca4a 
#define t_bright_aqua           #70c0b1 
#define t_bright_blue           #7aa6da 
#define t_bright_purple         #c397d8 

*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  t_comment

! Black / Grey
*.color0:       t_background
*.color8:       t_selection

! Red / Bright Red
*.color1:       t_red
*.color9:       t_bright_red

! Green + Bright Green
*.color2:       t_green
*.color10:      t_bright_green

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_bright_orange

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      t_bright_blue

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      t_bright_purple

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      t_bright_aqua

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line

rofi.font:             MesloLGS Nerd Font 10
! for some reason since 1.3.1 fullscreen results in a white screen,
! manually setting the width works thoug
rofi.fake-transparency: true
rofi.fake-background: screenshot
rofi.fullscreen:       true
rofi.terminal:         i3-sensible-terminal
rofi.separator-style:  solid
rofi.hide-scrollbar:   true
rofi.scrollbar-width:  6
rofi.eh:               1
rofi.bw:               0
rofi.line-margin:      2
rofi.lines:            15
rofi.threads:          4
rofi.matching:         fuzzy
!custom keybinding
!rofi.kb-delete-entry:  Delete,Alt+BackSpace

! Rofi colors
rofi.color-enabled:    true
rofi.color-window:     t_dark_background_transparent, t_bright_orange, t_orange
rofi.color-normal:     t_light_background_transparent, t_foreground, t_background_transparent, t_orange, t_background
rofi.color-active:     t_light_background_transparent, t_green, t_background_transparent, t_green, t_background


Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!! hidpi
! Xft.dpi:               192
! rofi.dpi:              192
! rofi.padding:          600

!! lowdpi
Xft.dpi:                 96
rofi.dpi:                96
rofi.padding:            300
