alias sudo="sudo "
alias log-installed-packages="pacman -Qe | grep --color=always -v (.*) | cut -d/ -f2- | awk '{print \$1}' | tee $HOME/packages-$(hostname).txt"
alias avpn-fix-resolvconf="chattr -i /etc/resolv.conf && sudo resolvconf -u"
